{%- assign designers = 'bianca-saunders, isaac-reina, eresearch-joke, kostas-murkudis, natacha-ramsay' | split: ', ' -%}
{%- assign genres = 'shoes, leathergoods, ready-to-wear, jewellery, objects' | split: ', ' -%}

<div class="collection-tools">
  <div class="collection-header">
    <div class="header-left">
      <ul class="collection-manage-menu">
        <li class="underneath-logo"><span>AT.Kollektive</span></li>
        <li><a href="#" onclick="location.href = collectionUrl">Shop</a></li>
        <li>
          <form action="{{ routes.search_url }}" class="collection-search-form">
            <label>
              <input type="text" id="q" placeholder="Search..." name="q" class="form-search-input collection-search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            </label>
          </form>
        </li>
      </ul>
    </div>
    <div class="header-right">
      <ul class="collection-manage-menu">
        <li><cart-items-counter></cart-items-counter></li>
        {% if customer.id == null %}
        <li><a href="{{ routes.account_login_url }}">Login</a></li>
        {% endif %}
        {% if customer.id != blank %}
          {% if template.name != 'account' %}
            <li><a href="{{ routes.account_url }}">Account</a></li>
          {% else %}
            <li><a href="{{ routes.account_logout_url }}">Logout</a></li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
  </div>
  {% if isFilterEnabled == blank or isFilterEnabled == 1 %}
  <div class="collection-filter">
    <form class="collection-filter-form">
      <ul class="collection-filter-list designer-filter">
        {% for item in designers %}
        <li data-filter-code="{{ item }}" data-filter-group="designer">
          <button>{{ item }}</button>
        </li>
        {% endfor %}
      </ul>
      <ul class="collection-filter-list genre-filter">
        {% for item in genres %}
        <li data-filter-code="{{ item }}" data-filter-group="genre">
          <button>{{ item }}</button>
        </li>
        {% endfor %}
      </ul>
    </form>
    <div class="filter-selected"></div>
    <button class="collection-filter-toggle-btn">Filters</button>
    <div class="overlay-action-buttons">
      <button class="filter-button filter-confirm">Confirm</button>
      <button class="filter-button filter-clear-all">Clear all</button>
    </div>
  </div>
  {% endif %}
</div>