
{{ 'custom-grid.css' | asset_url | stylesheet_tag }}

{% render 'custom-grid-tools' %}

<div class="grid-set">
  <div class="grid three-cols data-list">
  
    {%- paginate collection.products by section.settings.products_per_page -%}
      {%- if collection.products.size == 0 -%}
        <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
          <div class="loading-overlay gradient"></div>
          <div class="title-wrapper center">
            <h2 class="title title--primary">
              {{ 'sections.collection_template.empty' | t }}<br>
              {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
            </h2>
          </div>
        </div>
      {%- else -%}
        {%- for product in collection.products -%}
          <div class="grid-element">
            <div class="grid-element-inner">
              <div class="grid-overlay-color"></div>
              {% for image in product.images limit: 1 %}
                <img loading="lazy" 
                      src="{{ image | image_url }}" 
                      alt="{{ image.alt }}" 
                      width="{{ image.width }}" 
                      height="{{ image.height }}" 
                      class="grid-image grid-product-image">
              {% endfor %}
              <p class="grid-element-title with-color-effect">
                <a href="/products/{{ product.handle }}" class="product-anchor">
                  <span class="title-element info-designer-name">{{ product.metafields.custom.ak__designerName }}</span><br>
                  <span class="title-element info-product-title">{{ product.title }}</span><br>
                  <span class="title-element info-product-price">{{ product.price | money }}</span>
                </a>
              </p>
            </div>
          </div>
        {% endfor %}
      {%- endif -%}
      
    {%- endpaginate -%}
  </div>

  {%- paginate collection.products by section.settings.products_per_page -%}
    {%- if collection.products.size > 0 -%}
      <div class="collection-paging">{{ paginate | default_pagination: next: 'Next', previous: 'Prev' }}</div>
    {% endif %}
  {%- endpaginate -%}

</div>
{% comment %} <script src="{{ 'custom-grid.bundle.js' | asset_url }}" defer></script> {% endcomment %}

{% schema %}
{
  "name": "(ATK) Custom Collection",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Grid Collection"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 10,
      "max": 50,
      "step": 1,
      "default": 48,
      "label": "Products Per Page"
    }
  ],
  "presets": [
    {
      "name": "(ATK) Custom Collection"
    }
  ]
}
{% endschema %}