<div class="shopify-product">
  <div class="product-info">
    <div class="product-info-inner">

      <ul class="product-info-list">
        <li class="product-title">{{ product.title }}</li>
        {% if product.metafields.custom.ak__designerName != blank %}<li class="product-designer">{{ product.metafields.custom.ak__designerName }}</li>{% endif %}
        <li class="product-price">
          <span>{{ product.price | money }}</span>
          {% if product.compare_at_price != blank and product.compare_at_price != product.price %}
            <span class="faded">{{ product.compare_at_price | money }}</span>
          {% endif %}
        </li>
        

        <li class="product-size-variants">
          {% if product.options_with_values[0].values.size > 1 %}
            {%- unless product.has_only_default_variant -%}
              <variant-radios
                id="variant-radios-{{ section.id }}"
                class="no-js-hidden"
                data-section="{{ section.id }}"
                data-url="{{ product.url }}"
                {% if update_url == false %}data-update-url="false"{% endif %}
                {{ block.shopify_attributes }}
              >
                {%- for option in product.options_with_values -%}
                  <fieldset class="js product-form__input">
                    {% comment %} <legend class="form__label">{{ option.name }}</legend> {% endcomment %}
                    {% render 'product-variant-options', product: product, option: option, block: block %}
                  </fieldset>
                {%- endfor -%}
                <script type="application/json">
                  {{ product.variants | json }}
                </script>
              </variant-radios>

              <button class="size-guide-open underline-on-hover">Size guide</button>
              <button class="size-guide-close underline-on-hover">Close</button>
            {% endunless %}
          {% endif %}
        </li>
        

        <li class="product-size-guide">
          <div>
            <button class="size-group">EU</button>
            <button class="size-group">US</button>
            <button class="size-group">UK</button>
            <button class="size-group">FR</button>
          </div>
          <div>
            <button>35</button>
            <button>2</button>
            <button>5</button>
            <button>35</button>
          </div>
          <div>
            <button>36</button>
            <button>6</button>
            <button>3</button>
            <button>36</button>
          </div>
          <div>
            <button>37</button>
            <button>7</button>
            <button>4</button>
            <button>37</button>
          </div>
          <div>
            <button>38</button>
            <button>8</button>
            <button>5</button>
            <button>38</button>
          </div>
          <div>
            <button>39</button>
            <button>9</button>
            <button>6</button>
            <button>39</button>
          </div>
          <div>
            <button>40</button>
            <button>10</button>
            <button>7</button>
            <button>40</button>
          </div>
          <div>
            <button>41</button>
            <button>11</button>
            <button>8</button>
            <button>41</button>
          </div>
          <div>
            <button>42</button>
            <button>12</button>
            <button>9</button>
            <button>42</button>
          </div>
          <div>
            <button>43</button>
            <button>13</button>
            <button>10</button>
            <button>43</button>
          </div>
        </li>

        {%- assign product_form_id = 'product-form-' | append: section.id -%}
        <li class="product-add-to-cart">
          <product-form class="product-form">
            <div class="product-form__error-message-wrapper" role="alert" hidden>
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
              </svg>
              <span class="product-form__error-message"></span>
            </div>

            {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              <div class="product-form__buttons">
                <button type="submit" name="add" class="action-link anchor-style"
                {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}>
                  <span class="product-form-btn-span text-decoration-underline" data-for="{{ product.selected_or_first_available_variant.id }}">{%- if product.selected_or_first_available_variant.available -%}

                    {% assign label = 'Add to cart' %}
                    {% if product.options_with_values != blank %}
                      {% if product.options_with_values[0].values.size == 1 %}
                        {% assign label = 'Made to order only' %}
                      {% endif %}
                    {% endif %}

                    {% if product.has_only_default_variant %}
                      {% assign label = 'Made to order only' %}
                    {% endif %}

                    {{ label }}

                    {%- else -%}Sold out{%- endif -%}</span>
                  <div class="loading-overlay__spinner hidden">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </button>
              </div>
            </product-form>
          </li>
        {%- endform -%}

      </ul>
      <ul class="product-info-list">
        <li class="product-metadata">
          <div class="tabs content-tabs">
            <button class="content-tab-btn underline-on-hover active" data-rel="description">Description</button>
            <button class="content-tab-btn underline-on-hover" data-rel="size">Size</button>
            <button class="content-tab-btn underline-on-hover" data-rel="details">Details</button>
            <button class="content-tab-btn underline-on-hover" data-rel="sustainability">Sustainability</button>
          </div>
          
          <button class="content-tab-btn tab-mobile-btn underline-on-hover active" data-rel="description">Description</button>
          <div class="tab-content open" data-content-rel="description">
            {% if product.description != blank %}{{ product.description }}{% endif %}
          </div>
          
          <button class="content-tab-btn tab-mobile-btn underline-on-hover" data-rel="size">Size</button>
          <div class="tab-content" data-content-rel="size">
            {% if product.metafields.custom.ak__size != blank %}{{ product.metafields.custom.ak__size }}{% endif %}
          </div>
          
          <button class="content-tab-btn tab-mobile-btn underline-on-hover" data-rel="details">Details</button>
          <div class="tab-content" data-content-rel="details">
            {% if product.metafields.custom.ak__details != blank %}{{ product.metafields.custom.ak__details }}{% endif %}
          </div>

          <button class="content-tab-btn tab-mobile-btn underline-on-hover" data-rel="sustainability">Sustainability</button>
          <div class="tab-content" data-content-rel="sustainability">
            {% if product.metafields.custom.ak__sustainability != blank %}{{ product.metafields.custom.ak__sustainability }}{% endif %}
          </div>
        </li>
        
      </ul>
    </div>
  </div>
  <div class="product-images">
    {% for image in product.images %}
      <div class="product-image-preview">
        <div class="image-index">{{ forloop.index }} / {{ product.images.size }}</div>
        <img src="{{ image | image_url }}" loading="lazy" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt }}">
      </div>
    {% endfor %}
  </div>
</div>


{% schema %}
{
  "name": "(ATK) Main Product",
  "tag": "section",
  "class": "section section-product",
  "blocks": [
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    }
  ],
  "settings": [

  ]
}
{% endschema %}
