{% render 'collection-tools' %}

<div class="grid-set">
  <div class="css-grid four-cols data-list">
  
    {%- paginate collection.products by section.settings.products_per_page -%}
      {%- if collection.products.size == 0 -%}
        <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
          <div class="loading-overlay gradient"></div>
          <div class="title-wrapper center">
            <h2 class="title title--primary">
              {{ 'sections.collection_template.empty' | t }}<br>
              {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "text-decoration-underline" }}
            </h2>
          </div>
        </div>
      {%- else -%}
        {%- for product in collection.products -%}
          <div class="grid-element">
            <div class="grid-element-inner">
              <div class="grid-overlay-color"></div>
              {% for image in product.images limit: 1 %}
                <a href="/products/{{ product.handle }}" class="grid-element-anchor" title="{{ product.title }}">
                  <img class="grid-image grid-product-image" loading="lazy" src="{{ image | image_url }}" alt="{{ image.alt }}" width="{{ image.width }}" height="{{ image.height }}">
                </a>
              {% endfor %}
              <p class="grid-element-title with-color-effect">
                <a href="/products/{{ product.handle }}" class="product-anchor">
                  {% if product.title != blank %}<span class="title-element info-product-title">{{ product.title }}</span>{% endif %}
                  {% if product.metafields.custom.ak__designerName != blank %}<span class="title-element info-designer-name">{{ product.metafields.custom.ak__designerName }}</span>{% endif %}
                </a>
              </p>
              <div class="reflect-oh-hover">
                <div class="product-price normal-state">{{ product.price | money }}</div>
                <div class="product-variants hover-state">
                  {% for variant in product.variants %}
                    <button class="product-variant underline-on-hover" {% unless variant.available %}disabled{% endunless %} id="variant-{{ variant.id }}">{{ variant.title | capitalize }}</button>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {%- endif -%}
    {%- endpaginate -%}
  </div>

  {%- paginate collection.products by section.settings.products_per_page -%}
    {%- if collection.products.size > 0 -%}
      <div class="collection-paging">{{ paginate | default_pagination: next: 'Next', previous: 'Prev' }}</div>
    {% endif %}
  {%- endpaginate -%}

</div>

{% schema %}
{
  "name": "(ATK) Main Collection",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Grid Collection"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 10,
      "max": 50,
      "step": 1,
      "default": 48,
      "label": "Products Per Page"
    }
  ],
  "presets": [
    {
      "name": "(ATK) Main Collection"
    }
  ]
}
{% endschema %}